<h1>EDITING COHORTS</h1>

<%= render 'form', cohort: @cohort %>

<%= link_to 'Show', @cohort, class: 'btn btn-success btn-xs'   %> 
<%= link_to 'Back', cohorts_path, class: 'btn btn-info btn-xs'   %>
