<h1>EDITING STUDENT COHORT</h1>

<%= render 'form', student_cohort: @student_cohort %>

<%= link_to 'Show', @student_cohort, class: 'btn btn-success btn-xs' %>
<%= link_to 'Back', student_cohorts_path, class: 'btn btn-info btn-xs' %>
